.home{
    position: absolute;
width: 65px;
height: 28px;
left: 555px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF


}
.menu{
    position: absolute;
    width: 1350px;
    height: 90px;
    left: 0px;
    top: 0px;

    background: #3691B0;
}
.about{

    position: absolute;
width: 64px;
height: 28px;
left: 695px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;


}
.blog{
    
    position: absolute;
width: 48px;
height: 28px;
left: 823px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;


}
.contacts{

    position: absolute;
width: 97px;
height: 28px;
left: 913px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;


}
.logo{
    
position: absolute;
width: 79px;
height: 72px;
left: 23px;
top: 12px;

background: url(1cb76efde24fbf99e6bc78943d72b742.png)

}
.signin{
    

    position: absolute;
width: 109px;
height: 42px;
left: 1058px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: white;

}
.signup{
    position: absolute;
width: 82px;
height: 28px;
left: 1215px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.signupbtn{

position: absolute;
width: 109px;
height: 45px;
left: 1200px;
top: 5px;

background: #23D03E;

}
.head{
    position: absolute;
width: 268px;
height: 42px;
left: 150px;
top: 36px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

}
.hands{


position: absolute;
width: 1350px;
height: 149px;
left: 0px;
top: 84px;

background: url(hands.jpg);
background-repeat:no-repeat;
background-size:cover;

}
.title{

    position: absolute;
width: 481px;
height: 131px;
left: 516px;
top: 15px;

font-family: Capriola;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;

color: #000000;

}
body{
    background-image:url(cartoon-logo-of-weather-with-white-cloud-vector-22351624.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.text{
position: absolute;
width: 808px;
height: 320px;
left: 16px;
top: 250px;

font-family: Quattrocento;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;

color: #000000;

}
.andela{
position: absolute;
width: 208px;
height: 197px;
left: 666px;
top: 570px;

background: url(unnamed.png);

}
.andelaxt{
position: absolute;
width: 140px;
height: 28px;
left: 684px;
top: 789px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000

}
.footer{

position: absolute;
width: 1440px;
height: 61px;
left: 0px;
top: 839px;

background: #221C1C;

}
.profile{

position: absolute;
width: 288px;
height: 480px;
left: 988px;
top:300px;

background: url(image.png);


}